
.modal-header, .modal-footer {
  text-align: right;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  width: 92%;
  height: 8%;
  margin: 0 auto;
}

.close-span {
  cursor: pointer;
}

.update-button {
  margin-right: 1em;
}