/* .modal-footer button {
  padding: 2px;
  background: #0072ed;
  color: white;
  width: 120px;
  border-radius: 10px;
} */

#editor-modal input {
  width: 80%;
  border-radius: 5px;
}

#editor-modal .modal-header,
#editor-modal .modal-footer {
  text-align: right;
}

.modal-header, .modal-footer {
  text-align: right;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  width: 92%;
  height: 8%;
  margin: 0 auto;
}

.close-span {
  cursor: pointer;
}