.movie-card {
    margin-bottom: 1rem;
    box-shadow: var(--outline-color) 0 0 2px 0;
  }
  
  .movie-card-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
  }
  
  .movie-card-header > *:not(:last-child) {
    margin-right: 5%;
  }
  
  .movie-card-title {
    font-weight: bold;
    min-width: 50%;
  }
  
  .tags {
    margin-top: 1rem;;
    min-width: 50%;
  }
  
  .movie-card-details-header {
    display: flex;
    align-items: center;
    margin-top: -16px;
    margin-bottom: 1rem;
  }
  
  .movie-card-details-header img {
    margin: 1rem 1rem 0 0;
    height: 160px;
  }
  
  .movie-card-details-header-info > * {
    margin-bottom: 0.5rem;
  }
  
  .movie-card-details-plot {
    text-align: justify;
  }
  
  .site-tag-plus {
    background: #fff;
    border-style: dashed;
  }

  .movie-card-comment {
    width: 50%;
  }